@media only screen and (min-width: 581px) and (max-width: 680px){
.btn_start{
    height:50px;
    width: 250px;
    font-size: 20px;
    margin-left: 25%;
}
.welcome_message{
    font-size: 30px;

}
.text{
font-size: 20px;
}
body{
    padding: 0;
}
}


@media only screen and (min-width: 280px) and (max-width: 359px) {
    body{
     background-size: 260px 580px;
     background-position: 40px 50px 50px;
     background-repeat: no-repeat;
     overflow: hidden;
   
    }
    h1{
     font-size: 50px;
   }
   #land{
     width: 80%;
     margin-left: 20px;
     height: 85vh;    
   }
   .btn_start{
     padding: 20px;
     width: 200px;
     font-size: 15px;
     margin-left: 5%;
 
   }
   .welcome_message{
     font-size: 30px;
     }
     .text{
         font-size: 25px;
         text-align: center;
         }
 
 }
 
 @media only screen and (min-width: 360px) and (max-width: 380px) {
     body{
         background-size: 355px 680px;
         background-position: 40px 50px 50px;
         background-repeat: no-repeat;
         overflow: hidden;
     }
     h1{
      font-size: 50px;
    }
    #land{
      width: 85%;
      height: 85vh;   
      margin-left: 10px; 
    }
    .btn_start{
      padding: 20px;
      width: 260px;
      font-size: 15px;
      margin-left: 5%;
  
    }
    .welcome_message{
      font-size: 40px;
      }
      .text{
       font-size: 30px;
       text-align: center;
     }
  
  }

  @media only screen and (min-width: 781px) and (max-width: 880px){

    .btn_start{
        height:70px;
        width: 250px;
        font-size: 20px;
        margin-left: 25%;
        margin-top: 10%;
    }
    .welcome_message{
        font-size: 35px;
        margin-top: 30%;
    
    }
    .text{
    font-size: 25px;
    }
    .musicaTitle{
        font-size: 60px;
        margin-top: 5%;
    }

}
 

@media screen and (min-width: 381px) and (max-width: 480px) {
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color:#171e27;
        color: #00FFFF;
    }
    .welcome_message{
        font-size: 25px;
    }
    .musicaTitle{
        font-size: 28px;
    }
    .text{
        font-size: 18px;
        }
        .btn_start{
            height:50px;
            width: 200px;
            margin-top: 100px;
            font-size: 16px;
            margin-left: 15%;
        }
        #land{
            width: 85%;
            height: 95vh;   
            margin-left: 10px; 
          }
}
@media only screen and (min-width: 681px) and (max-width: 780px){
  .btn_start{
      height:70px;
      width: 250px;
      font-size: 20px;
      margin-left: 25%;
      margin-top: 20%;
  }
  .welcome_message{
      font-size: 35px;
      margin-top: 20%;
  }
  .text{
  font-size: 25px;
  }
  body{
      padding: 0;
  }
}
