/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#171e27;
    color: #00FFFF;
}

#searchInput {
    padding: 20px 100px;
    font-size: 26px;
    border: 1px solid #00FFFF;
    border-radius: 10px;
    background-color: #0000;
    color: #00FFFF;
    margin-left: 29%;
    align-items: center;
    margin-top: 5%;
  }
  #searchButton {
    padding: 20px 40px;
    font-size: 26px;
    background-color: #00FFFF;
    color: #000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 20px;
  }

  #result{
  text-align: center;
}
#resultsList{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: none;
    color: #00FFFF;
    padding: 10px 20px;
}

.content-section {
    padding: 40px;
    text-align: center;
}
.music-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.music-item {
    border: none;
    box-shadow: 10px 10px 5px black;
    border-radius: 8px;
    padding: 20px;
    background-color: #2c738f;
    text-align: center;
    width: 200px;
    transition: transform 0.3s;
}
.music-item:hover {
    transform: scale(1.05);
}
.music-item img {
    width: 100%;
    border-radius: 8px;
}
.music-item h3 {
    margin: 10px 0;
    color:black;
    font-size: 16px;
    margin-top: 30px;
}
.music-item a {
    color: #00FFFF;
    text-decoration: none;
    font-weight: bold;
}
footer {
    background-color: #00FFFF;
    color: black;
    text-align: center;
    padding: 2px 0;
    position: fixed;
    width: 100%;
    height: 30px;
    bottom: 0;
}

.song {
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .song img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
  .genre {
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .genre img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .listItems {

    border: none;
    box-shadow: 10px 10px 5px black;
    border-radius: 8px;
    margin-top: 50px;
    padding: 20px;
    background-color: #2c738f;
    text-align: center;
    width: 200px;
    height: 300px;
    transition: transform 0.3s;
  }
  .listItems img {
    width: 100%;
   
    object-fit: cover;
    border-radius: 10px;
  }
  .listItems h3 {
    margin: 10px 0;
    color:black;
    font-size: 16px;
    margin-top: 30px;
  }
  
  .listItems a {
    color: #00FFFF;
    text-decoration: none;
    font-weight: bold;
  }
  #searchSection{
    margin-left: 13%;
}
#logo{
  margin-top: 20%;
    margin-left: 10%;
    color: #00FFFF;
    font-size: 45px;
}
#menu{
    margin-top: 10%;
    margin-left: 10%;
    color: #00FFFF;
  
}
#music-body{
    display:flex;
    flex-direction: row;
    gap:30px;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    bottom:0;
    padding-top: 20px;
    gap: 10px;
    margin-left: 1%;
}
ul {
  color: #00FFFF;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li {
    padding: 10px 20px;
}
a {
  color: #00FFFF;
    text-decoration: none;
    display: block;
    height: 40px;

}
a:hover {
    height: 40px;
    margin-left: -2%;
    margin-top: 2%;
    border-radius: 10px;
    background-color: #2c738f;
}
.content {
    margin-left: 250px; 
    padding: 20px;
}

#seeLessButton, #seeMoreButton{
  background-color:#2c738f;
  color: black;
  height: 50px;
  margin-top: 280px;
  border: none;
  border-radius: 10px;
} */


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#171e27;
    color: #00FFFF;
}

#searchInput {
    padding: 20px 100px;
    font-size: 26px;
    border: 1px solid #00FFFF;
    border-radius: 10px;
    background-color: #0000;
    color: #00FFFF;
    margin-left: 29%;
    align-items: center;
    margin-top: 5%;
  }
  #searchButton {
    padding: 20px 40px;
    font-size: 26px;
    background-color: #00FFFF;
    color: #000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 20px;
  }

  #result{
  text-align: center;
}
#resultsList{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: none;
    color: #00FFFF;
    padding: 10px 20px;
}

.content-section {
    text-align: center;
    display: block;
}
.music-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.content-section{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.music-item {
    border: none;
    box-shadow: 10px 10px 5px black;
    border-radius: 8px;
    padding: 20px;
    background-color: #2c738f;
    text-align: center;
    width: 200px;
    transition: transform 0.3s;
}
.music-item:hover {
    transform: scale(1.05);
}
.music-item img {
    width: 100%;
    border-radius: 8px;
}
.music-item h3 {
    margin: 10px 0;
    color:black;
    font-size: 16px;
    margin-top: 30px;
}
.music-item a {
    color: #00FFFF;
    text-decoration: none;
    font-weight: bold;
}
footer {
    background-color: #00FFFF;
    color: black;
    text-align: center;
    padding: 2px 0;
    position: fixed;
    width: 100%;
    height: 30px;
    bottom: 0;
}

.song {
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .song img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
  }


  .listItems {

    border: none;
    box-shadow: 10px 10px 5px black;
    border-radius: 8px;
    margin-top: 50px;
    padding: 20px;
    background-color: #2c738f;
    text-align: center;
    width: 200px;
    height: 300px;
    transition: transform 0.3s;
  }
  .listItems img {
    width: 100%;
   
    object-fit: cover;
    border-radius: 10px;
  }
  .listItems h3 {
    margin: 10px 0;
    color:black;
    font-size: 16px;
    margin-top: 30px;
  }
  
  .listItems a {
    color: #00FFFF;
    text-decoration: none;
    font-weight: bold;
  }
  /* sidebar */
  #searchSection{
    margin-left: 13%;
}
#logo{
  margin-top: 20%;
    margin-left: 10%;
    color: #00FFFF;
    font-size: 45px;
}
#menu{
    margin-top: 10%;
    margin-left: 10%;
    color: #00FFFF;
  
}
#music-body{
    display:flex;
    flex-direction: row;
    gap:30px;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    bottom:0;
    padding-top: 20px;
    gap: 10px;
    margin-left: 1%;
}
ul {
  color: #00FFFF;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li {
    padding: 10px 20px;
}
a {
  color: #00FFFF;
    text-decoration: none;
    display: block;
}
a:hover {
    background-color: #555;
}
.content {
    margin-left: 250px; /* Same as sidebar width */
    padding: 20px;
}

#seeLessButton, #seeMoreButton{
  background-color: #00FFFF;
  color: black;
  height: 50px;
  margin-top: 300px;
  border: none;
  border-radius: 10px;
}

  .genre {
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .genre img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .artist-list {
    display: flex;
    flex-direction: row;
    gap: 4%;
  }
  .artist-item {
    border: none;
    box-shadow: 10px 10px 5px black;
    border-radius: 8px;
    padding: 20px;
    background-color: #2C738F;
    text-align: center;
    width: 200px;
    transition: transform 0.3s;
  }
  .artist-item:hover {
    transform: scale(1.05);
  }
  .artist-item img {
    width: 100%;
    border-radius: 8px;
  }
  .artist-item h3 {
    margin: 10px 0;
    color: black;
    font-size: 16px;
    margin-top: 30px;
  }
  .artist-item a {
    color: #00FFFF;
    text-decoration: none;
    font-weight: bold;
  }
  .album-list {
    display: flex;
    flex-direction: row;
    gap: 4%;
  }
  .album-item {
    border: none;
    box-shadow: 10px 10px 5px black;
    border-radius: 8px;
    padding: 20px;
    background-color: #2C738F;
    text-align: center;
    width: 200px;
    transition: transform 0.3s;
  }
  .album-item:hover {
    transform: scale(1.05);
  }
  .album-item img {
    width: 100%;
    border-radius: 8px;
  }
  .album-item h3 {
    margin: 10px 0;
    color: black;
    font-size: 16px;
    margin-top: 30px;
  }
  .album-item a {
    color: #00FFFF;
    text-decoration: none;
    font-weight: bold;
  }
  .titlename{
    color: white;
    font-size: 30px;
    margin-left: 45%;
  }

